html {
    margin: 0;
    padding: 0;
}

body {
    background: #f3f3f3;
    margin: 0;
    font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;
}

.img_signup {
    height: 220px;
    background: transparent;
    margin-top: 130px;
    display: inline;
    float: right;
}

.error {
    border: 2px solid red;
    border-radius: 3px;
}

.container {
    margin: auto;
    margin-top: auto;
    height: 500px;
    width: 700px;
    border-radius: 40px;
    background: #ffffff;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    box-shadow: 10px 10px 5px #ccc;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
}

.centerlize {
    padding-top: 60px;
    vertical-align: middle;
}

.container_box {
    height: 300px;
    width: 300px;
    margin: 120px 10px 10px 50px;
    display: inline;
    float: left;
}

.title {
    font-weight: 500;
    font-size: 30px;
    display: inline;
}

input {
    margin-top: 20px;
    padding: 10px;
    display: block;
    width: 280px;
}

.header_button-in {
    font-size: 15px;
    background-color: #6495ED;
    color: #ffffff;
    padding: 13px 0px 13px 0px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 6px;
    display: block;
    width: 100px;
    margin-right: 75px;
    margin-top: 30px;
}

@media(max-width: 767px) {
    .img_signup {
        display: none;
    }
    .container {
        text-align: center;
        height: 100%;
        border: none;
        margin: 20px 0 0 0;
        padding: 0;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        width: 100%;
        display: flex;
        justify-content: center;
        background: transparent;
    }
    .container_box {
        margin: 0 auto;
        display: table;
    }
    .header_button-in {
        width: 300px;
    }
    .title {
        display: block;
        width: 300px;
        text-align: center;
    }
}