.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.2rem 0.4rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    height: 30px;
    margin-left: 5px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn {
    position: relative;
    z-index: 2;
}

.btn-primary {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
}

.btn-check:focus+.btn-primary,
.btn-primary:focus {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
    box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
}

.btn-group,
.btn-group-vertical {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    margin-right: 0px;
}

.fc-toolbar-title {
    color: rgb(77, 77, 77);
    transform: scale(0.7, 0.7);
}

.fc-col-header-cell-cushion {
    font-size: 13px;
}

.fc-timegrid-slot-label-cushion,
.fc-timegrid-axis-cushion {
    font-size: 13px;
}

h4 {
    margin-top: 0px;
}

a {
    text-decoration: none;
    color: #212529;
    display: inline-block;
}

a:hover {
    color: #000000;
}